<%- include("header") -%>
    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>


    <div class="box">



        <% for (let i=0; i<elements.length;i++){ %>
            <form action="/delete" method="post" class="selectedItem">
            <div class="item">
                <input type="checkbox" name = "checkbox" onChange="this.form.submit()" value="<%=elements[i]._id%>">
                <p>
                    <%= elements[i].description %>
                </p>
                <input type="text" name="list" value="<%= listTitle %>" hidden>
            </div>
            </form>
            <% } %>

                
                <form action="/" method="post" class="item">
                    <input type="text" name="element" required placeholder="New Item" autocomplete="off">
                    <button id="submitItemButton" type="submit" name="list" value="<%= listTitle %>">+</button>
                </form>



    </div>

    

    <%- include("footer") -%>